body {
  font-family: Georgia, sans-serif, Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans;
}
h2 {
  /*font-size: 120%;*/
  text-align: center;
}
h3 {
  margin-bottom: 2%;
  text-align: center;
}
.table {
  margin-top: 2%;
}
.btn {
  margin-right: 4%;
  width: 90px;
}

/*Hack- Fix it!*/
#reset {
    width: 90px;
    margin-left: -2%;
}

#summary {
  text-align: left;
  margin-top: 2%;
  font-style: italic;
}
